.samHeading{
    z-index: 100000;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;


    @media (max-width: 950px){
        font-size: 2.3rem;
    }
    @media (max-width: 840px){
        font-size: 2.2rem;
    }
    @media (max-width: 450px){
        font-size: 2.1rem;
    }
}




.Hbutton{
    height: 70px;
    width: 30%;
    border: 2px none #2d2c31;
    border-radius: 50px;
    font-size: 90%;
    font-weight: 500;
    padding: 0 10%;
    cursor: pointer;
    margin: 5% 0;
    position: relative;
    left: 30%;
    
    letter-spacing: 1px;
background-color: #ffffff;
     color: #2d2c31;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

/* 
    @media (max-width: 1180px){
        width: 45%;
    
    }
    @media (max-width: 1100px){
        width: 50%;
    
    }
    @media (max-width: 950px){
        width: 55%;
    
    }
    @media (max-width: 850px){
        width: 60%;
    
    }
    @media (max-width: 760px){
        width: 65%;
    
    }
    @media (max-width: 700px){
        width: 70%;
    
    }
    @media (max-width: 650px){
        width: 75%;
    
    }
    @media (max-width: 600px){
        width: 90%;
    
    } */

    @media (max-width: 1266px){
        left: 34%;
       
    }
    @media (max-width: 870px){
        font-size: 1.8rem;
    }
    @media (max-width: 790px){
        font-size: 1.5rem;
        
    }
    @media (max-width: 740px){
        font-size: 1.5rem;
        width: 40%;
        left: 30%;
        
    }
    @media (max-width: 500px){
        font-size: 1.3rem;
        width: 40%;
        left: 30%;
        
    }

    
    
    
}

.Hbutton:hover{
    scale: 1.05;
    transition: 0.5s;
    background: linear-gradient(45deg,aqua,rgb(0, 115, 255),rgb(251, 14, 255),cyan);
    color: #ffffff;
}