

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;

}
 .button a{
    color: black !important;
}
a:hover{
    color: #e1e1e1;
}
.button a:hover{
    color: #2d2c31;
}

.button{
    height: 35px;
    width: 40%;
    border: 2px none #2d2c31;
    border-radius: 50px;
    font-size: 90%;
    font-weight: 900;
    padding: 3px 10px;
    cursor: pointer;
    
    letter-spacing: 1px;
    background-color: white;
    color: #2d2c31;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width: 1180px){
        width: 45%;
    
    }
    @media (max-width: 1100px){
        width: 50%;
    
    }
    @media (max-width: 950px){
        width: 55%;
    
    }
    @media (max-width: 850px){
        width: 60%;
    
    }
    @media (max-width: 760px){
        width: 65%;
    
    }
    @media (max-width: 700px){
        width: 70%;
    
    }
    @media (max-width: 650px){
        width: 75%;
    
    }
    @media (max-width: 600px){
        width: 90%;
    
    }
    
    
    
}

#button:hover{
    scale: 1.1;
    transition: 0.35s;
}

.selected a{
    color: white;
}


.button.selected {
    animation: pulse 0.7s ease-in-out 0s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

li.button.selected {
    
    background: linear-gradient(45deg,aqua,rgb(0, 115, 255),rgb(251, 14, 255),cyan);
  }

#button.selected a{
    color:white;
    transition: 0.3s;
}


li#button.button.selected {
    
    @media (max-width: 950px){
        margin-right: 40%;
      }

  }
  li#button.button{
    
    @media (max-width: 950px){
        margin-right: 40%;
      }

  }



